<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20209372-17"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-20209372-17');
    </script>
    <link rel="stylesheet" href="/niedziela.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <meta property="og:title" content="Czy dzisiaj sklepy są otwarte?">
    <meta name="description" content="Sprawdź, czy dzisiaj zrobisz zakupy. Obsługuję takze święta.">
    <meta property="og:description" content="Sprawdź, czy dzisiaj zrobisz zakupy. Obsługuję takze święta.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= I18n.t('app.question') %></title>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <p><%= I18n.t('app.error.header') %></p>
      </div>

      <p><%= I18n.t('app.error.text', href: 'https://twitter.com/anksik') %></p>

      <div id="footer">
        <p><a href='https://anks.pl'>anks.pl</a></p>
      </div>
    </div>
  </body>
</html>
