<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/default.css" type="text/css">
    <title>Czy dzisiaj jest niedziela handlowa?</title>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <p>Czy Niedziela</p>
      </div>
      <div>
        Blabla
      </div>
      <div id="footer" class="span-24">
        <p>Lista świąt i niedziel niehandlowych pobrana <a href='https://pl.wikipedia.org/wiki/Zakaz_handlu_w_niedziele_i_%C5%9Bwi%C4%99ta' target='_blank' >stąd</a>.</p>
        <p>anks.pl</p>
      </div>
    </div>
  </body>
</html>
