body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 500px;
  margin: 50px auto;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 40px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: white;

  .open {
    background-color: green;
    width: 225px;
  }

  .closed {
    background-color: red;
    width: 280px;
  }
}

.next {
  font-size: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  .closed {
    color: red;
  }
  .open {
    color: green;
  }
}

#footer {
  position: relative;
  font-size: 15px;
  height: 84px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

#footer > p, .next > p, #header > p {
  margin-top: 0;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


