development:
  adapter: postgresql
  encoding: unicode
  database: niedziela
  pool: 2
  username: anks
  password: password
test:
  adapter: postgresql
  encoding: unicode
  database: niedziela
  pool: 2
  username: anks
  password: password
production:
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: <%= ENV['DATABASE_HOST'] %>
  database: <%= ENV['DATABASE_NAME'] %>
  username: <%= ENV['DATABASE_USER'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
